<div style="text-align:center">
    <h1>
      Good dayy {{ title }}!
    </h1>
    <img width="400" alt="Angular Logo" src="https://www.gettyimages.com/gi-resources/images/CreativeLandingPage/HP_Sept_24_2018/CR3_GettyImages-159018836.jpg">
  </div>
  <h2>Good part </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://google.com">1</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://google.com">2</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://google.com">3</a></h2>
    </li>
  </ul>
  <a routerLink="/persons">About participants</a> <br/>