<p class="font-weight-bold title">All persons who registrated to participate into various events: </p>
<ul class="list-group list-group-flush" *ngFor="let person of persons">
  <li class="list-group-item">
    <app-person-details [person]="person" (editPersonEvent)="editPerson(person)" (selectedPersonEvent)="removePersonFromList($event)"></app-person-details>
  </li>
</ul>

<div class="container mt-4">
  <button class="btn btn-primary" (click)="fetchUsers()">Fetch persons</button>
</div>

<app-group-list></app-group-list>
