<!-- 1st STEP -->
<!-- {{person.name}}
{{person.middleName}}
{{person.surname}}<br />
<span [hidden]="!person.email && !person.phone"> Contacts:
  {{person.email}}
  {{person.phone}}
  <br />
</span>
{{person.pid}} <br />
<span *ngIf="person.groups == null"> None groups</span>
<span *ngIf="person.groups != null"> {{person.groups.length}} groups: {{person.groups}}</span> -->

<!-- 2nd STEP -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      {{person.pid}}
    </div>
    <div class="col-sm">
      {{person.name}} {{person.middleName}} {{person.surname}}
    </div>
    <div class="col-sm">
      <span [hidden]="!person.email && !person.phone"> Contacts:
        {{person.email}}
        {{person.phone}}
      </span>
      <span *ngIf="!person.email && !person.phone"> - </span>
    </div>
    <div class="col-sm">
      <span *ngIf="person.groups == null"> No groups</span>
      <span *ngIf="person.groups != null"> {{person.groups.length}}
        <span *ngIf="person.groups.length != 1; else onlyOneGroup">groups:</span>
        <ng-template #onlyOneGroup>group:</ng-template>
        {{person.groups}}
      </span>
    </div>
    <div class="col-sm">
      <button (click)="passSelectedPerson(person)" type="button" class="btn btn-info">Remove</button>
    </div>
    <div>
      <button (click)="editPerson(person)" type="button" class="btn btn-info">Edit</button>
    </div>
  </div>
</div>
